/********************* Flex container****************/

.flexbox {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/********************* Image container****************/

.flexbox h1 {
  width: 60%;
  color:blue;
  /*background-color: lightblue;*/
}

.flex-item h1 {

  color:#fff;
  width: 100%;
  text-align: center;
  }
/********************* /Image container****************/

/********************* Flex item****************/
.flex-item h3 {
  padding-left: 45px;
  color:blue;
}

.flex-item img {
  width: 250px;
  height: 250px;

}

.flex img {
  width: 400px;
  height: 400px;
}

/********************* /Flex item****************/
/********************* Section footer****************/


/********************* /Section footer****************/



/********************* @media query****************/
/*@media screen and (min-width: 780px) {

  }

}


}*/

/********************* /@media query****************/
